<template>
  <button class="key" @click="playSound" :class="{ 'key--playing': playing }" >
    <span class="key__letter">{{ sound.letter }}</span>
    <label class="key__label">{{ sound.label }}</label>
  </button>
</template>

<script>
export default {
  props: [
    'sound'
  ],
  data () {
    return {
      playing: false,
      audio: null
    }
  },
  created () {
    this.preLoadAudio()
    window.addEventListener('keyup', this.keyPress)
  },
  methods: {
    preLoadAudio () {
      const file = 'sounds/' + this.sound.audioFile + '.mp3'
      this.audio = new Audio(file)
    },
    playSound () {
      this.audio.currentTime = 0
      this.audio.play()
      this.playing = true

      // Delay removing the playing status
      setTimeout(() => {
        this.playing = false
      }, 100)
    },
    keyPress (event) {
      if (event.keyCode === this.sound.keycode) {
        this.playSound()
      }
    }
  }
}
</script>

<style lang="scss">
.key {
  flex-basis: 70px;
  margin: 2px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: solid 2px black;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .1s;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.7);
    outline: none;
  }

  &--playing {
    transform: scale(1.3);
    border-color: yellow;
  }

  &__letter {
    font-size: 2rem;
    width: 100%;
  }

  &__label {
    display: block;
    color: yellow;
    font-size: 0.5rem;
  }
}
</style>
