<template>
  <div class="story__group">
    <button @click="play" class="story__btn">Play</button>
    <button @click="pause" class="story__btn">Pause</button>
    <button @click="stop" class="story__btn">Stop</button>
  </div>
</template>

<script>
export default {
  props: [
    'sounds'
  ],
  data () {
    return {
      story: [],
      current: 0
    }
  },
  methods: {
    play () {
      // Preload each sound into a story array if the story is empty
      if (this.story.length < 1) {
        this.buildStory()
      }

      this.playSound()
    },

    playSound () {
      this.story[this.current].play()
    },

    pause () {
      this.story[this.current].pause()
    },

    stop () {
      // Preload each sound into a story array.
      this.story[this.current].pause()
      // rewind the current file.
      this.story = []
      this.current = 0
    },

    buildStory () {
      // Reset story
      this.story = []

      // Loop through each sound to create the story
      this.sounds.forEach((sound, index) => {
        const file = 'sounds/' + sound.audioFile + '.mp3'
        const audio = new Audio(file)

        // Listen for an audio file ending and then play the next. (except the last)
        if (index < this.sounds.length) {
          audio.addEventListener('ended', () => {
            // Reset the current audio file to the first if the final one plays.
            if (this.current === (this.story.length - 1)) {
              this.current = 0
            } else {
              // Advance the counter and play the sound.
              this.current++
              this.playSound()
            }
          })
        }

        this.story.push(audio)
      })
    }
  }
}
</script>

<style lang="scss">
 .story__group {
   margin-top: 1em;
   text-align: center;
 }

.story__btn {
  margin: 2px;
  padding: 1em 2em;
  background: rgba(0, 0, 0, 0.5);
  border: solid 2px black;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .1s;
  -webkit-appearance: none;

  &:hover {
    border-color: rgba(255, 255, 255, 0.7);
    outline: none;
  }
}
</style>
