<template>
  <div id="app">
    <div class="keys-wrapper">
      <key-button v-for="sound in sounds" :key="sound.letter" :sound="sound"></key-button>
    </div>
    <!--<story :sounds="sounds"></story>-->
  </div>
</template>

<script>
import keyButton from '~/components/keyButton.vue'
import story from '~/components/story.vue'
import sounds from '~/sounds.json'

export default {
  name: 'app',
  data () {
    return {
      sounds: sounds
    }
  },
  components: {
    keyButton,
    story
  }
}
</script>

<style lang="scss">
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(~/assets/bg-heidi.jpg);
    background-size: cover;
    background-position: center;
  }

  img {
    max-width: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

  .keys-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 700px;
    z-index: 2;
  }
</style>
